{% extends 'c_base.html' %}
{% load static %}
{% load crispy_forms_tags  %}

{% block titulo %} Gerador de carga massiva {% endblock titulo %}

{% block conteudo %}

<h1 class="text-center">Gerador de Carga Massiva</h1>

<p class="text-center"> Para gerar a carga massiva, basta fazer o envio do modelo alunorel.csv com os dados preenchidos
</p>


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{form.file.label}}
    {{form.file}}

    <div class="pb-1">
        <a href="{% static 'alunorel.csv' %}" class="badge badge-warning">Baixar modelo alunorel.csv</a>
    </div>

    {{form.choice|as_crispy_field }}

    <div class="form-group">
        <button class="btn btn-success" name="submit" type="submit" value="gc">Gerar carga</button>
        <button class="btn btn-info" name="submit" type="submit" value="gcg">Gerar carga com gênero</button>
    </div>

</form>

<script>
    document.querySelector('.gerador').classList.add('active')
</script>

{% endblock conteudo %}