{% extends 'c_base.html' %}
{% load crispy_forms_tags  %}

{% block titulo %} Carga {% endblock titulo %}

{% block conteudo %}

<h1 class="text-center">Carga Dividida</h1>

<p class="text-center">Links para download da carga dividida</p>

<div class="text-center">
    <div>
        <a href="uploads/{{ user }}/1ano.csv">1 ano</a>
    </div>

    <div>
        <a href="uploads/{{ user }}/2ano.csv">2 ano</a>
    </div>

    <div>
        <a href="uploads/{{ user }}/3ano.csv">3 ano</a>
    </div>

    <div>
        <a href="uploads/{{ user }}/4ano.csv">4 ano</a>
    </div>

    <div>
        <a href="uploads/{{ user }}/5ano.csv">5 ano</a>
    </div>

    <div>
        <a href="uploads/{{ user }}/Outros.csv">Outros anos</a>
    </div>
</div>




{% endblock conteudo %}