{% extends "base.html" %}
{% load crispy_forms_tags  %}

{% block titulo %} Cadastrar {% endblock titulo %}

{% block conteudo %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    <h2>Cadastrar</h2>
    <form method="POST">

        {% csrf_token %}
        {{ form|crispy}}

        <button class="btn btn-success" type="submit">Cadastrar</button>

    </form>

<script>
    document.querySelector('.cadastro').classList.add('active')
</script>
{% endblock conteudo %}

